/* Aquí puedes añadir estilos adicionales si es necesario */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.rounded {
    border-radius: 10px;
    overflow: hidden;
}

/* Puedes agregar más estilos personalizados según sea necesario */

